[run]
branch = True
omit =
    *tests*

    # smpplib
    #*/smpplib*

    # Ignore migrations
    *migrations*

    # Ignore deployment files
    requirements/*

    # Ignore docs
    docs*

    *admin.py

    # Ignore settings files
    settings_test.py

    # Ignore url files
    urls.py
